<%- include('../partials/header') %>

<h1 class="mb-4">Reviews List</h1>
<a href="/index/create-review" class="btn btn-primary mb-3">Add Your Review</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Food's Name</th>
            <th>Price</th>
            <th>Your Review</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <% product_review.forEach(products => { %>
            <tr>
                <td><%= products.food_name %></td>
                <td>$<%= products.price.toFixed(2) %></td>
                <td><%= products.review %></td>
                <td>
                    <% if (products.image) { %>
                        <img src="<%= product.image %>" alt="<%= product.food_name %>" class="img-thumbnail" width="200">
                    <% } else { %>
                        <p>No image available</p>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
