<%- include('../partials/header') %>
  <!-- <div class="row">
    <% products.forEach(product => { %>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
        <div class="card" style="width: 18rem;">
            <img src="<%=product.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <a href="/product/<%= product.id %>" class="btn btn-primary">Click for more Details</a>
            </div>
        </div>
      </div>
             
        <% }); %>
  </div> -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/uploads/hero1.jpg" class="d-block mx-lg-auto img-fluid">
    </div>

    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">Huge selection of delicious recipe ideas</h1>
      <p class="lead">
        Discover our wide range of mouthwatering Khmer cuisine recipes, including traditional curries, flavorful stir-fries, comforting soups, vibrant salads, easy desserts, vegetarian options, quick snacks, family-friendly dishes, and gluten-free choices.
      </p>
      <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Lastest</a>
        <a href="/random-recipe" class="btn btn-outline-danger btn-lg px-4 me-md-2">Show Random</a>
      </div>
    </div>
  </div>

<!-- Categories Menu -->
<h1>Explore Our Categories</h1>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-la-3 py-4">
  
  <% if(products != '') { %>
    <% products.forEach(function(products, index) { %>
        <a href="/product/<%= products.id %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="<%- products.image%>" loading="Lazy" class="img-fluid">
          </div>
          <div class="pt-1"><%- products.name %></div>
        </a>
    <% }) %>
  <% } %>

</div>
<!-- Explore Menu End -->



<!-- Top Menu Start -->




<!-- Top Menu End -->



<!-- Sunmit Start -->

  <section class="px-4 py-5 my-5 text-center">
    <img src="/uploads/hero.jpg" class="d-block mx-auto mb-4 img-fluid" alt="Publish Your recipe for Free today" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">Publish your recipe for Free today</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Publish your Recipe in front of thousand of people for free.</p>
      <div class="d-grip gap-2 d-sm-flex justify-content-sm-center">
        <a href="/product" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
      </div>
    </div>
  </section>
<!-- Submit End -->

<%- include('../partials/footer') %>