<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/show.css">
<div class="food-details-container">
  <div class="food-details-wrapper">
    <div class="page-title">
      <i class="fa-solid fa-face-smile"></i>
      <h1>Welcome To Food Details!</h1>
    </div>
 
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
      </ol>
    </nav>
    <div class="content">
      <!-- Image section -->
      <div class="image-container">
        <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
      </div>
      
      <!-- Product details section -->
      <div class="details-container">
        <p><strong>ID:</strong> <%= product.id %></p>
        <p><strong>Name:</strong> <%= product.name %></p>
        <p><strong>Price:</strong> $<%= product.price %></p>
        <p><strong>Description:</strong> <%= product.description %></p>
      </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
